<section class="container">
  <h1 class="gallery-name">{{post.title}}</h1>
  <h2>{{post.contents}}</h2>
  <p>Author: {{post.user.username}}</p>
  <p>Date Created: {{format_date post.date_created}}</p>
  {{#if idEqual}}
  <p class="btn btn-primary" type="submit" id="delete">Delete</p>
  {{/if}}
  <form class="post-form">
      <div class="form-group">
        <label>Add Comment: </label>
        <input class="form-input" type="text" id="comment" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" id="comment-button">Post Comment</button>
      </div>
    </form>
  <h1>Comments:</h1>
  <section class="flex-row justify-center">
    {{#each post.comments as |comment|}}
    {{> comment-details}}
    {{/each}}
  </section>
</section>

<script src="/js/postview.js"></script>